#rouge{
	color: red;
}
#bleu {
	color: blue;
}
#vert {
	color: green;
}

.arial{
	font-family: arial;
	color: grey;
}

.monospace{
	font-family: monospace;
	color: grey;
}

#red{
	background-color: red;
}
#blue{
	background-color: blue;
}
#green{
	background-color: green;
}
footer{
 text-align: center;
 font-size: 10px;
}

footer img{
	width: 50px;
}