*{box-sizing: border-box;}

html{
	font-size: 62.5%;
}

body{
	width: 100%;
	font-family: 'Amaranth';
	background-color: #f2f2f2;
	color:  #666;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}

#ribbon {display: none;}

header {
	background-image: url(../img/bg.jpg);
	font-family: 'Open Sans';
	margin-bottom: 25px;
}

header p:first-child{
	width: 100%;
	margin-top: 0;
	margin-bottom: 18px;
	text-align: center;
	color: white;
	font-size:1.5rem;
	background-color: rgba(0,0,0,0.1);
	padding: 10px 0px;
}

header>div>div>p{
	margin:0;
}

header span{
	display:none;
}

.logopanier{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
}
.logopanier img{
	margin-top: 61px;
}


#panier{
	position: fixed;
	left: 0px;
	margin: 0px;
	
	border-top: 1px solid #8da50f;
	border-bottom: 1px solid #8da50f;
	border-right:1px solid #8da50f;
	border-radius: 0px 50px 50px 0px;
	box-shadow: 0px 0px 10px 0px #809802;
	padding: 5px 10px;
	font-size: 1.5rem;
	background-color: #98ad06;
}

#panier i.fas.fa-shopping-cart{
	border: 1px solid #d7e1a5;
	border-radius: 50%;
	padding: 10px;
	color: #d7e1a5;
}

header img{
	margin-bottom: 30px;
}

header nav{
	flex-direction: column;
	display: flex;
	align-items: center;
	padding-bottom: 30px; 
	
}

header a{
	text-decoration: none;
	font-size: 1.7rem;
	color:white;
	margin: 10px 0;
}


/*********************************MAIN_HOME************************/

main section {
	background-color: white;
	margin-bottom: 25px;
}

 main section:first-child{
 	display: none;
}

 #home h1{
 	color:  #96B011;
 	text-align: center;
 	font-size: 2rem;
 }

 h2{
 	color:  #96B011;
 	text-align: center;
 	font-size: 2.3rem;
 	font-weight: lighter;
 }

 #home section:nth-child(2){
  	padding-top: 40px;
  	padding-bottom: 15px;
 }

 #home section:nth-child(2) div {
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;
 	text-align: center;
 }

 #home section:nth-child(2) div figure{
 	margin: 0;
 	width: 50%;
 }

 .trait{
 	background-color: white;
 	padding: 0 10px;
 }

h2:after{
	content:"";
	display: block;
	border-top: 1px solid rgba(176, 144, 103, 0.3);
	margin-top:-17px;
}

h3{
	font-size: 1.9rem;
	font-weight: lighter;
	margin: 0;
}

#home section:nth-child(3){
	text-align: center;
	padding-top: 44px;
	padding-bottom: 47px;
} 

#home section:nth-child(3) article p:nth-of-type(1),#home section:nth-child(3) article p:nth-of-type(2){
	font-size: 1.7rem;
	font-family: 'open sans';
	font-weight: lighter;
	line-height: 2.5rem;
}

.prix{
	font-size: 2.7rem;
	margin-bottom: 54px;
}

.voir{
	font-size: 2rem;
	color: white;
	background-color: #b09067;
	font-family: "open sans";
	padding: 20px 20px;
	display: inline-block;
	margin-bottom: 20px;
}

/***************************FOOTER_HOME******************************/
footer nav{
	background-color: rgba(0,0,0,0.1);
	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;
 	text-align: center;
 	padding-top: 30px;
 	padding-bottom: 30px;
}

footer nav a{
	text-decoration: none;
	color: #d0da93;
	font-size: 1.4rem;
	font-family: 'open sans';
	margin: 0;
 	width: 50%;
 	display: flex;
 	flex-direction: column;
}

footer nav a i.fas,footer nav a i.far{
	font-size: 3rem;
	margin-bottom: 15px;
}


footer ul li:first-child{
	color: white;
	font-size: 1.5rem;
}

footer ul li a{
	text-align: center;
}

footer section:nth-child(2){
	margin: auto;
	text-align: center;
}







footer{
	
	background-image:  url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	flex-direction: column;
	background-color: #96B011;
	display: flex;
	align-items: center;
}

footer img{
	width: 5rem;
	
}


