*{box-sizing: border-box;
 outline: none;
}

@font-face{
	font-family: "BodegaSans";
	src: url("../fonts/BodegaSans_Black.ttf");
}

/********BODY*****************/
/*****************************/

body{
 	background-color: #3f3f3f;
 	background-image: url(../img/bg_body.svg);
 	font-family: 'Open Sans', sans-serif;
 	padding: 25px;
 }

 h1,h2,h3{
 	font-family: "BodegaSans";
 	font-weight: lighter;
 }

 h1{
 	font-size: 45px;
 	text-align: center;
 	line-height: 90px;
 	margin-top: 60px;
 	color: white;
 }

 h2{
 	font-size: 35px;
 	color: white;
 	margin-bottom: 44px;
 	border-top: 4px solid rgb(56,56,56);
 	border-left: 4px solid rgb(56,56,56);
 	padding:30px;
 }

span{
	color: #ff9d00;
}

img{
	width: 100%;
}

video{
	width: 100%;
}

i:hover{
	color: #ff9d00;
  }



/*********MOBILE**************/
/*****************************/


/************NAV*************/
header{
	background-image: linear-gradient(150deg, #FFF 0%,#FFF 50%,#333 50%,#333 100%);	
}
 header div{
 	padding: 30px 36px;
 	
 }

header div >p{
	text-align: center;
	margin-bottom: 50px;
}

header div img{
	width: 100%;
}

 header nav a{
 	display: block;
 	text-align: right;
 	text-decoration: none;
 	color: white;
 	font-family: "BodegaSans";
 	line-height: 100px;
 	font-size: 27px;
 	text-shadow: 2px 2px #3f3f3f;
 }

  header nav a:hover{
  	background-color: #ff9d00;
  }

 .flexslider{
 	border-radius:0;
 	border:10px solid white;  
 }


/***********SECTION1*************/
/************ARTICLE*************/

article{
	background-color: white;
	margin-bottom: 76px;
	padding-bottom: 35px;
	padding-top: 0px;
	padding-right: 25px;
	padding-left: 25px;
	line-height: 2em;
	text-align: center;
	color: #666666;
	font-size: 1.2em;
	margin-left: 5px;
	margin-right: 5px;
}

article h3{
	color: #ff9d00;
	text-align: center;
	border-bottom: 4px solid #ff9d00;
	font-size: 35px;
	margin-top: 0;
	padding-bottom: 10px;
	line-height: 2.5em;
}

article>a{
	text-decoration: none;
	color:white;
	background-color:  #ff9d00;
	padding: 18px 53px;
	display: block;
}

article>a:hover{
	background-color: #3f3f3f;

}

/***********SECTION2********/

main>section>div>p{
	color: white;
	text-align: center;
	line-height: 2em;
}

i{
	color: white;
	display: block;
	width: 100%;
	font-size: 50px;
	margin-top: 50px;
}

video{
	margin-top: 37px;
	margin-bottom: 120px;
}

/***********FOOTER*********/


footer {
	
	padding: 80px 55px;
	text-align: center;
	color: #d0d0d0;
	line-height: 2em;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

footer div {
	margin-bottom: 60px;
}

footer h3{
	text-align: center;
	
	font-size: 30px;
	margin-bottom: 40px;
}

footer a{
	color: white;
}

footer a:hover{
	color: #ff9d00;
}


footer>section>div>p{
	line-height: 2.5em;
	margin-bottom: 30px;
}

footer nav a {
	padding-right: 20px;
	padding-left: 20px;
}

.marge{
	margin-bottom: 20px;
}

footer img{
	width: 55px;
}

.fontsize{
	margin-top: 0;
	font-size: 15px;
}


/************TABLETTE********/
/****************************/

@media screen and (min-width: 768px){

header {
	background-image: linear-gradient(135deg, #FFF 0%,#FFF 50%,#333 50%,#333 100%);	
}
header>div>p{
	display: inline-block;
}
header nav {
	display: inline-block;
	text-align: right;
	float: right;
	
}
header>div{
	overflow: hidden;
	
}

footer>section>div>nav>div{
	display: inline-block;
}

header nav a{
	line-height: 70px;
}

}


/**********DESKTOP***********/
/****************************/

@media screen and (min-width: 1024px){


body{
	padding: 0;
}
.container{
	max-width: 1500px;
	width: 80%;
	margin:auto;

}

section article{
	display: inline-block;
	width: 23%;
	margin-left: 0px;
	margin-right: 2.6%;
}

.pasdemarge{
	margin-right: 0%;
}

main>section:nth-child(3)>div{
	display: inline-block;
	width: 45%
	
}

.agauche{
	text-align: left;
}

#icone>a{
	display: inline-block;
	width: 15%
}

video{
	float: right;
	width: 50%;
	margin-top: 0%;
}

main>section:nth-child(3)>div>p>i{
	display: inline-block;
}

.clear{
	clear: both;
}













}