<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="template/css/normalize.css">
	 <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Merienda" rel="stylesheet"> 
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="template/css/style.css">
	<title></title>
</head>
<body>
	<header>
		<h1> <i class="fas fa-microphone"></i>ENORE UN BLOG?! #NONMAISALLO</h1>
		<a href="admin.php"><i class="fas fa-cogs"></i>Administration</a>
	</header>

